@model dynamic

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="middle">
    <div class="menu_binding"></div>
    <div id="left">
        <ul>
            <li>
                <h2>New recipes</h2>
            </li>
            <li><a href="#">Chicken Quiche</a></li>
            <li><a href="#">Whole chicken &amp; Pastas</a></li>
        </ul>
        <div class="sep_left"></div>
        <ul>
            <li>
                <h2>Learn how to cook</h2>
            </li>
            <li><a href="recipes-detail.html">Chicken Fiesta Salad</a></li>
            <li><a href="recipes-detail.html">Fruity Curry Chicken Sal</a></li>
            <li><a href="recipes-detail.html">Cobb Salad</a></li>
            <li><a href="recipes-detail.html">Steak n Ale Pie</a></li>
            <li><a href="recipes-detail.html">Dijon Chicken Salad</a></li>
            <li><a href="recipes-detail.html">Seasonings</a></li>
            <li><a href="recipes-detail.html">Sugars and Salts</a></li>
            <li><a href="recipes-detail.html">Dried Fruits</a></li>
            <li><a href="recipes-detail.html">Lamb Feta Peppers</a></li>
            <li><a href="recipes-detail.html">Guest Chef SpeedScratch</a></li>
        </ul>
        <div class="sep_left"></div>
        @section scripts{
            <script type="text/javascript">
                $.post("/service/categories", function (data) {
                    var template = $("#categoryTemplate").html();
                    var html = Handlebars.compile(template)(data);
                    $(html).appendTo("#categoryList");
                });
                $.post("/service/welcomemessage", function (data) {
                    var template = $("#welcomeTemplate").html();
                    var html = Handlebars.compile(template)(data);
                    $(html).appendTo("#welcomeMessage");
                });
            </script>
            <script id="categoryTemplate" type="text/html">
                <li>
                    <h2>Recipe Categories</h2>
                </li>
                {{#this}}
                <li>
                    <a href="#">{{Name}}</a>
                </li>
                {{/this}}
            </script>
            <script id="welcomeTemplate" type="text/html">
                <h1>{{Title}}</h1>
                <img class="section_img" style="max-height: 200px" src="{{ImageUrl}}" alt="Homepage">
                <p class="first">
                    {{Content}}
                </p>
            </script>
        }
        <ul id="categoryList">
        </ul>
        <div class="sep_left"></div>
        <ul>
            <li>
                <h2>Information</h2>
            </li>
            <li><a href="#">Product Profiles</a></li>
            <li><a href="#">Product Information</a></li>
            <li><a href="#">Cooking Instructions</a></li>
        </ul>
    </div>
    <!-- #left -->
    <div id="right">
        <div class="wrapper" id="welcomeMessage">
        </div>
        <div class="with_bg">
            <h3>Learn to make art. With food!</h3>
            <p class="second">Barnaby The Bear's my name, never call me Jack or James, I will sing my way to fame, Barnaby the Bear's my name. Birds taught me to sing, when they took me to their king, first I had to fly, in the sky so high so high, so high so high so high, so - if you want to sing this way, think of what.</p>
            <br>
            <p class="more_info"><a href="#">Learn how to cook</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">View our menu</a></p>
        </div>
        <!-- .with_bg -->
    </div>
    <!-- #right -->
    <div class="clear_container"></div>
    <!-- .clear_container -->
</div>
<!-- #content .middle -->

