@model dynamic

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="middle">
    <div class="menu_binding"></div>
    <div id="left">
        <ul>
            <li>
                <h2>New recipes</h2>
            </li>
            <li><a href="#">Chicken Quiche</a></li>
            <li><a href="#">Whole chicken &amp; Pastas</a></li>
        </ul>
        <div class="sep_left"></div>
        <div id="randomRecipes">
        </div>
        <div class="sep_left"></div>
        @section scripts{
            <script type="text/javascript">
                LoadRandomRecipes("#randomRecipes");
                LoadCategories("#categoryList");
                LoadWelcome(".wrapper");
            </script>
        }
        <ul id="categoryList">
        </ul>
        <div class="sep_left"></div>
        <ul>
            <li>
                <h2>Information</h2>
            </li>
            <li><a href="#" onclick="EditRecipe('.wrapper', '0');">Add New Recipe</a></li>
            <li><a href="#">Product Information</a></li>
            <li><a href="#">Cooking Instructions</a></li>
        </ul>
    </div>
    <!-- #left -->
    <div id="right">
        <div class="wrapper">
        </div>
        <div class="with_bg">
            <h3>Learn to make art. With food!</h3>
            <p class="second">Barnaby The Bear's my name, never call me Jack or James, I will sing my way to fame, Barnaby the Bear's my name. Birds taught me to sing, when they took me to their king, first I had to fly, in the sky so high so high, so high so high so high, so - if you want to sing this way, think of what.</p>
            <br>
            <p class="more_info"><a href="#">Learn how to cook</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">View our menu</a></p>
        </div>
        <!-- .with_bg -->
    </div>
    <!-- #right -->
    <div class="clear_container"></div>
    <!-- .clear_container -->
</div>
<!-- #content .middle -->

